.panda-bg{
    background-color: antiquewhite;
}
.catagories-image img{
    width: 100px;
}
.panda-buttn{
    background-color: #FF589B;
    border-radius: 8px;
    padding: 9px 20px;
    border: none;
    

}